body  {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    font-family: Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: rgb(240, 126, 74);
}

h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

nav {
  background-color: burlywood;
  margin: -10 0 0 0;
  align: left;
  
  
}